:root {
    --highlight: #e45a5a;
    --dark: #292929;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0.0px 0.0px;
    user-select: none;
}

body {
    background-color: var(--dark);
}

.navbar {
    position: sticky;
    top: 0.0px;
    background-color: var(--highlight);
}

.navbar .button {
    transition: 0.25s ease;
    color: #ffffff;
    margin: 32.0px;
    font-size: 2.0rem;
    text-align: center;
    text-decoration: none;
}

.navbar .button:hover {
    transition: 0.25s ease;
    transform: scale(1.25) rotateZ(5.0deg);
}

.navbar .logo {
    transition: 0.25s ease;
    background: url('resources/biwf_64x64.png');
    width: 64.0px;
    height: 64.0px;
    margin: 16.0px;
}

.navbar .logo:hover {
    transition: 0.25s ease;
    transform: scale(1.25) rotateZ(-5.0deg);
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.fill {
    width: 100.0%;
    max-width: 100.0%;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.visits {
    padding: 32.0px;
}

.visits #visits {
    color: #ffffff;
    font-size: 4.0rem;
}

.description {
    background-color: #ffffff;
    padding: 32.0px;
}

.description div {
    color: #000000;
    width: 75.0%;
    font-size: 1.5rem;
}
