:root {
    --highlight: #e45a5a;
    --dark: #292929;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0px 0px;
    user-select: none;
}

body {
    background-color: var(--dark);
}

.navbar {
    position: sticky;
    top: 0px;
    background-color: var(--highlight);
    box-shadow: 2px 2px 2px #000000;
}

.navbar .button {
    transition: 0.25s ease;
    color: #ffffff;
    margin: 32px;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 0px #000000;
}

.navbar .button:hover {
    transition: 0.25s ease;
    transform: scale(1.25) rotateZ(5deg);
}

.navbar .logo {
    transition: 0.25s ease;
    width: 64px;
    height: 64px;
    margin: 16px;
}

.navbar .logo:hover {
    transition: 0.25s ease;
    transform: scale(1.25) rotateZ(-5deg);
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.fill {
    width: 100%;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .title {
    color: #ffffff;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 8rem;
    text-shadow: 8px 8px 0px #000000;
} */

.title #icon {
    transition: 0.25s ease;
    width: 128px;
    height: 128px;
    padding: 16px;
    background-color: #ffffff;
    margin: 32px;
    border-radius: 32px;
    box-shadow: 8px 8px 0px #000000;
}

.title #icon:hover {
    transition: 0.25s ease;
    box-shadow: 4px 4px 0px #000000;
    transform: translate(4px, 4px);
}

.visits {
    padding-top: 32px;
    padding-bottom: 32px;
    color: #ffffff;
    font-size: 4rem;
    text-shadow: 4px 4px 0px #000000;
}

.visits .amount {
    display: inline;
    color: #000000;
    background-color: #ffffff;
    padding: 8px;
    border-radius: 32px;
    box-shadow: 8px 8px 0px #000000;
    text-shadow: none;
}

.description {
    width: 500px;
    height: 500px;
    background-color: blueviolet;
}

.description .content {
    color: #000000;
    width: 75%;
    font-size: 1.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 70px;
}

#text {
    width: 100px;
    height: 100px;
    background-color: aqua;
}

#myPic {
    border-radius: 10px;
}

.footer {
    position: fixed;
    bottom: 0px;
    color: #000000;
    background-color: #2c2c2c;
    font-size: 1.25rem;
}

.footer .link {
    color: var(--highlight);
    text-decoration: none;
}